/* .stone > img {
    width:80px;
    height: 160px;
}


.stone {
    width: 40%;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border-radius: 5px;
    margin-top: 10px;
}

.stone > p {
    height: 7px;
    font-size: 14px;
    text-align: center;
} */

.stone > img {
    /* width:80px; */
    height: 100%;
}


.stone {
    width: 70%;
    height: 7%;
    /* height: 205px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* align-self:baseline; */
    /* background-color: bisque; */
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-between;

    background-color: bisque;
    /* background-color: rgba(255, 228, 196, 0.7); */
    /* box-shadow: 0 0 6px 15px bisque; */
    box-shadow: -5px -5px 30px 5px darkblue, 5px 5px 30px 5px red, -5px -5px 30px 5px red;

}

.stone > p {
    height: 7px;
    font-size: 16px;
    /* text-align: center; */
    /* align-self: inherit; */
}

